@model Worker
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-dark ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">
                    Create Worker
                </h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form method="post">
            <div class="border p-3">
                <div class="form-row align-items-center">
                    <!-- Ensure form-row uses align-items-center to maintain items on the same line -->
                    <div class="col-md-12 pb-2">
                        <label asp-for="Name" class="ms-2 pb-1"></label>
                        <input asp-for="Name" class="form-control border-0 shadow" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="LastName" class="ms-2 pb-1"></label>
                        <input asp-for="LastName" class="form-control border-0 shadow" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="Number" class="ms-2 pb-1"></label>
                        <input asp-for="Number" class="form-control border-0 shadow" placeholder="Number" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="WorkTitle" class="ms-2 pb-1"></label>
                        <input asp-for="WorkTitle" class="form-control border-0 shadow" placeholder="Title" />
                        <span asp-validation-for="WorkTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Worker" asp-action="Index" class="btn btn-outline-dark border-1 form-control">
                            Back To List
                        </a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
