@model RegisterVM
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-dark ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">
                    Create Worker and his account
                </h2>
            </div>
        </div>
    </div>
 
    <div class="card-body">
        <form method="post">
            <div class="border p-3">
                <div class="form-row align-items-center">
                    <!-- Ensure form-row uses align-items-center to maintain items on the same line -->
                    <div class="col-md-12 pb-2">
                        <label asp-for="Name" class="ms-2 pb-1"></label>
                        <input asp-for="Name" class="form-control border-0 shadow" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="LastName" class="ms-2 pb-1"></label>
                        <input asp-for="LastName" class="form-control border-0 shadow" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="Title" class="ms-2 pb-1"></label>
                        <input asp-for="Title" class="form-control border-0 shadow" placeholder="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="PhoneNumber" class="ms-2 pb-1"></label>
                        <input asp-for="PhoneNumber" class="form-control border-0 shadow" placeholder="Phone Number" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="Email" class="ms-2 pb-1"></label>
                        <input asp-for="Email" class="form-control border-0 shadow" placeholder="Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 pb-2">
                        <label asp-for="Password" class="ms-2 pb-1"></label>
                        <input asp-for="Password" type="password" class="form-control border-0 shadow" placeholder="Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 mt-3">
                        <select asp-for="Role" asp-items="@Model.PossibleRoles" class="form-select">
                            <option disabled selected>--Select Role--</option>
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Worker" asp-action="Index" class="btn btn-outline-dark border-1 form-control">
                            Back To List
                        </a>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }